$btn-color: #19BCE4;
$black: #222222;
$white: #FFFFFF;
$second-white: #DDDDDD;
$gray: #555555;
$darkblue: #02012B;

$dark-bg: rgba(0, 0, 0, 0.56);
$card-brd: rgba(25, 188, 228, 0.3);
$bg-housetype: #F8FDFE;

