$btn-color: #19BCE4;
$black: #222222;
$white: #FFFFFF;
$second-white: #DDDDDD;
$gray: #555555;
$darkblue: #02012B;


$dark-bg: rgba(0, 0, 0, 0.56);
$card-brd: rgba(25, 188, 228, 0.3);
$bg-housetype: #F8FDFE;

$properties: #DDDDDD;
$bg-who-choose: #F8FDFE;
$bg-blur: rgba(0, 96, 119, 0.02);

$bg-review: #FFF8F7;
$bg-footer: #F8FDFE;

$anim-head-link: purple;
$hero-card: lightcyan;
$hero-p: orange;
$hero-btn: #009ED8;
$hero-txt: ivory;
$blue: blue;
$anim-foot-link: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);

