section.about
    .about-block
        .img-container
            .big-about-img
                img.fix-big-img(src="./assets/images/Rectangle 2257big-about.png" alt="fashion style")
                .small-about-img
                    img.fix-small-img(src="./assets/images/Rectangle 2258small-about.png" alt="fashion style")
        .description-container
            h5.about-smalltitle About Us
            h2.about-bigtitle We are Specializing in interior Improvements
            h5.about-description Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit.
                                 | Ut viverra posuere sem purus enim eleifend <br> habitant arcu, sed.
            .about-cards
                .ab-card
                     img(src="./assets/images/support 1support.png" alt="headphones")
                     h4.about-title Free Consultation
                     p.about-paragraph Lorem ipsum dolor sit amet, conse <br>ctetur adipiscing elit.
                .ab-card
                    img(src="./assets/images/team 1team.png" alt="handshake")
                    h4.about-title Best Team Members
                    p.about-paragraph Lorem ipsum dolor sit amet, conse <br>ctetur adipiscing elit.
            .about-btn
                a.about-link(href="#")
                    h6.explore-now Explore Now
