section.header
    .header-block
        .logo
            img(src="./assets/images/Group 3311main-logo.png", alt="house")
            a.logo-link(href="#") Building
        nav
            ul.menu
                li.menu-list
                    a.menu-link(href="#") Home
                li.menu-list
                    a.menu-link(href="#") Services
                li.menu-list
                    a.menu-link(href="#") About Us
                li.menu-list
                    a.menu-link(href="#") Properties
                li.menu-list
                    a.menu-link(href="#") Contact
        .log-in
            a.log-link(href="#")
                button.login-btn(type="submit") Log In