header.header#home
    .header-block
        .logo
            img(src="./assets/images/Group 3311main-logo.png", alt="house")
            a.logo-link(href="#") Building
        nav
            ul.menu
                each link in links
                    +Header(link.link, link.title)
        .log-in
            a.log-link(href="#")
                button.login-btn(type="submit") Log In