section.hero
    .hero-block
        .main-title
            h1.main-text Find Your Dream House
        .main-description
            h5.description-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra <br>
                                | posuere sem purus enim eleifend habitant arcu, sed.
        .search-menu
            .h-card
                .h-card-title
                    p.h-card-paragraph Location
                    img.strelka(src="./assets/images/Group 3221strelka-vniz.png", alt="strelka")
                .h-card-text
                    h5.special-weight California
            .h-card
                .h-card-title
                    p.h-card-paragraph Properties
                    img.strelka(src="./assets/images/Group 3221strelka-vniz.png", alt="strelka")
                .h-card-text
                    h5.special-weight Delux
            .h-card
                .h-card-title
                    p.h-card-paragraph Price
                    img.strelka(src="./assets/images/Group 3221strelka-vniz.png", alt="strelka")
                .h-card-text
                    h5.special-weight.special-font $10,000-$120,000
            .search-block
                a.search-link(href="#")
                    h5.search-text Search
