section.popular#properties
    .popular-block
        h2.popular-title Most Popular Places
        h5.popular-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .wrap
            each card in places
                +Popular(card.image, card.title, card.description, card.isBig)


