section.popular
    .popular-block
        h2.popular-title Most Popular Places
        h5.popular-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .cards-container
            a.link-popular(href="#")
                .big-card
                    img.bg-position(src="./assets/images/Rectangle 2186bangladesh-bg.png" alt="bangladesh city")
                    .big-card-blur
                        h4.popular-card-title Bangladesh
                        h5.popular-card-descr 50 Properties
            .small-cards
                .card-row
                    a.link-popular-small(href="#")
                        .small-card
                            img.bg-position(src="./assets/images/Rectangle 2187japan-bg.png" alt="japan country")
                            .small-card-blur.jpn
                                h4.popular-card-title Japan
                                h5.popular-card-descr 50 Properties
                    a.link-popular-small(href="#")
                        .small-card
                            img.bg-position(src="./assets/images/Rectangle 2188malaysia-bg.png" alt="malaysia country")
                            .small-card-blur.malaysia
                                h4.popular-card-title Malaysia
                                h5.popular-card-descr 50 Properties
                .card-row
                    a.link-popular-small(href="#")
                        .small-card
                            img.bg-position(src="./assets/images/Rectangle 2189london-bg.png" alt="london city")
                            .small-card-blur.london
                                h4.popular-card-title London
                                h5.popular-card-descr 50 Properties
                    a.link-popular-small(href="#")
                        .small-card
                            img.bg-position(src="./assets/images/Rectangle 2190india-bg.png" alt="india country")
                            .small-card-blur.india
                                h4.popular-card-title India
                                h5.popular-card-descr 50 Properties
