section.why-choose
    .text-block
        h2.who-title Who Choose Us?
        h6.who-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio laoreet sit neque sagittis. Gravida viverra at auctor sed aliquam. Sed magna eros lectus amet, viverra. Ultrices diam, volutpat sit ut feugiat semper interdum dapibus. Et malesuada tempus lacus at ornare gravida ornare nulla dui. Velit tellus elit consectetur dui vel convallis eu in lectus. Vitae id est, suspendisse suspendisse.
        .who-btn
            a.who-link(href="#")
                .who-btn-text
                    h6.margin-text Read more
                    img(src="./assets/images/strelka-vpravo.png" alt="strelka vpravo")
    .img-block
        img.who-img(src="./assets/images/who-photo.png" alt="people talking")
