mixin Card()
    p.card-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor pulvinar at augue vestibulum euismod risus













//mixin Card(title, description, link, logo= 'none', power)
    .card
        .header
            .card_logo= logo
            h3.card_title= title
        p.card_descr= description
        h1.card_power(class= power > 70 ? 'card_power-red' : 'card_power-green') Power #{power}
        a.card_link(href= link) Read More

