doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Final
    body
        include ./section/header
        main
            p Lorem Ipsum dolor sit amet.
        include ./section/footer
