.hero{
  position: relative;
  max-width: 1440px;
  width: 100%;
  background: url('/assets/images/image 134hero.png');
  background-size: cover;
  .hero-block{
    position: relative;
    z-index: 3;
    padding: 185px 9.375% 140px 9.375%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-title{
      color: $white;
    }
    .main-description{
      margin-top: 24px;
      color: $white;
      text-align: center;
      line-height: 30px;
    }
    .search-menu{
      width: 100%;
      margin-top: 97px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: $white;
      padding: 24px;
      .h-card{
        width: 23%;
        padding: 10px 30px;
        border: 0.5px solid $card-brd;
        .h-card-title{
          display: flex;
          flex-direction: row;
          align-items: center;
          .h-card-paragraph{
            margin-right: 6px;
            color: $gray;
          }
          .strelka:hover{
            cursor: pointer;
          }
        }
        .h-card-text{
          margin-top: 8px;
          line-height: 24px;
          color: $black;
          .special-weight{
            font-weight: 500;
          }
          @media screen and (max-width: 1350px) {
            .special-font{
              font-size: 16px;
            }
          }
          @media screen and (max-width: 1170px) {
            .special-font{
              font-size: 12px;
            }
          }
        }
      }
      .search-block{
        width: 23%;
        background: $btn-color;
        .search-link{
          color: $white;
          .search-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 23px 0;
          }
        }
      }
    }
  }
}
.hero:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $dark-bg;
  z-index: 2;
}