@import "./media/_mediapopular";
.popular{
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .popular-block{
    max-width: 81.25%;
    width: 100%;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .popular-title{
      color: $black;
      line-height: 61px;
    }
    .popular-descr{
      color: $gray;
      line-height: 27px;
      margin-top: 16px;
    }
    .cards-container{
      width: 100%;
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .link-popular {
        width: 31.63%;
        .big-card {
          position: relative;
          .big-card-blur {
            position: absolute;
            top: 62.96%;
            left: 50%;
            transform: translateX(-50%);
            padding: 0 8.5%;
            background-image: url("../images/bangladesh-blur.png");
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
      .small-cards{
        width: 65.82%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .card-row{
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          .link-popular-small{
            width: 48.05%;
            .small-card {
              position: relative;
              .small-card-blur{
                position: absolute;
                top: 56.07%;
                left: 50%;
                padding: 0 14%;
                transform: translateX(-50%);
                display: flex;
                flex-direction: column;
                align-items: center;
              }
              .jpn {
                background-image: url("../images/japan-blur.png");
              }
              .malaysia {
                background-image: url("../images/malaysia-blur.png");
              }
              .london {
                background-image: url("../images/london-blur.png");
              }
              .india {
                background-image: url("../images/india-blur.png");
              }
            }
          }
        }
        .card-row:last-child{
          margin-top: 3.377%;
        }
      }
    }
  }
}
.bg-position{
  max-width: 100%;
}
.popular-card-title{
  color: $white;
  margin-top: 12.1%;
}
.popular-bigcard-title{
  color: $white;
  margin-top: 9%;
}
.popular-card-descr{
  width: 131%;
  color: $properties;
  margin-top: 8.1%;
  margin-bottom: 16.1%;
}
.popular-smallcard-descr{
  width: 92.4%;
  color: $properties;
  margin-top: 6.1%;
  margin-bottom: 11.3%;
}