* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 64px;
  font-weight: 700; }

h2 {
  font-size: 48px;
  font-weight: 700; }

h3 {
  font-size: 40px;
  font-weight: 700; }

h4 {
  font-size: 24px;
  font-weight: 500; }

h5 {
  font-size: 20px;
  font-weight: 400; }

h6 {
  font-size: 18px;
  font-weight: 400; }

a {
  font-size: 18px;
  font-weight: 400; }

p {
  font-size: 14px;
  font-weight: 400; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

html {
  font-family: 'Rubik', sans-serif; }

@media screen and (max-width: 1439px) {
  .popular-card-title {
    font-size: 19.2px; }

  .popular-card-descr {
    font-size: 16px; } }
@media screen and (max-width: 1152px) {
  .popular-title {
    font-size: 36px; }

  .popular-descr {
    font-size: 16px; }

  .popular-card-title {
    font-size: 16.8px; }

  .popular-card-descr {
    font-size: 14px; } }
@media screen and (max-width: 1024px) {
  .popular-title {
    font-size: 32px; }

  .popular-descr {
    font-size: 14px; }

  .popular-card-descr {
    font-size: 13px; } }
.popular {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .popular .popular-block {
    max-width: 81.25%;
    width: 100%;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .popular .popular-block .popular-title {
      color: #222222;
      line-height: 61px; }
    .popular .popular-block .popular-descr {
      color: #555555;
      line-height: 27px;
      margin-top: 16px; }
    .popular .popular-block .cards-container {
      width: 100%;
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      .popular .popular-block .cards-container .link-popular {
        width: 31.63%; }
        .popular .popular-block .cards-container .link-popular .big-card {
          position: relative; }
          .popular .popular-block .cards-container .link-popular .big-card .big-card-blur {
            width: 54.05%;
            position: absolute;
            top: 62.96%;
            left: 22.97%;
            background-image: url("../images/bangladesh-blur.png");
            display: flex;
            flex-direction: column;
            align-items: center; }
      .popular .popular-block .cards-container .small-cards {
        width: 65.82%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; }
        .popular .popular-block .cards-container .small-cards .card-row {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between; }
          .popular .popular-block .cards-container .small-cards .card-row .link-popular-small {
            width: 48.05%; }
            .popular .popular-block .cards-container .small-cards .card-row .link-popular-small .small-card {
              position: relative; }
              .popular .popular-block .cards-container .small-cards .card-row .link-popular-small .small-card .small-card-blur {
                width: 54.05%;
                position: absolute;
                top: 56.07%;
                left: 22.97%;
                display: flex;
                flex-direction: column;
                align-items: center; }
              .popular .popular-block .cards-container .small-cards .card-row .link-popular-small .small-card .jpn {
                background-image: url("../images/japan-blur.png"); }
              .popular .popular-block .cards-container .small-cards .card-row .link-popular-small .small-card .malaysia {
                background-image: url("../images/malaysia-blur.png"); }
              .popular .popular-block .cards-container .small-cards .card-row .link-popular-small .small-card .london {
                background-image: url("../images/london-blur.png"); }
              .popular .popular-block .cards-container .small-cards .card-row .link-popular-small .small-card .india {
                background-image: url("../images/india-blur.png"); }
        .popular .popular-block .cards-container .small-cards .card-row:last-child {
          margin-top: 3.377%; }

.bg-position {
  max-width: 100%; }

.popular-card-title {
  color: #FFFFFF;
  margin-top: 6%;
  padding: 0 16%; }

.popular-card-descr {
  color: #FFFFFF;
  margin-top: 4%;
  margin-bottom: 8%;
  padding: 0 18.5%; }

@media screen and (max-width: 1330px) {
  .who-title {
    font-size: 43px;
    margin-top: 82px; }

  .who-description {
    font-size: 16px; } }
@media screen and (max-width: 1210px) {
  .who-title {
    font-size: 37px;
    margin-top: 72px; }

  .who-description {
    font-size: 14px; } }
@media screen and (max-width: 1093px) {
  .who-title {
    font-size: 32px;
    margin-top: 62px; }

  .who-description {
    font-size: 12px; } }
.why-choose {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background: #F8FDFE; }
  .why-choose .text-block {
    max-width: 50.77%;
    width: 100%;
    padding-left: 9.375%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .why-choose .text-block .who-title {
      color: #222222;
      line-height: 61px;
      margin-top: 15.6%; }
      @media screen and (max-width: 1330px) {
        .why-choose .text-block .who-title {
          line-height: 54px; } }
      @media screen and (max-width: 1210px) {
        .why-choose .text-block .who-title {
          line-height: 47px; } }
      @media screen and (max-width: 1093px) {
        .why-choose .text-block .who-title {
          line-height: 41px; } }
    .why-choose .text-block .who-description {
      color: #555555;
      line-height: 30px;
      margin-top: 3.4%; }
      @media screen and (max-width: 1330px) {
        .why-choose .text-block .who-description {
          line-height: 26px; } }
      @media screen and (max-width: 1210px) {
        .why-choose .text-block .who-description {
          line-height: 23px; } }
      @media screen and (max-width: 1093px) {
        .why-choose .text-block .who-description {
          line-height: 20px; } }
    .why-choose .text-block .who-btn {
      background: #19BCE4;
      margin-top: 6.7%;
      border-radius: 6px; }
      .why-choose .text-block .who-btn .who-link {
        color: #FFFFFF; }
        .why-choose .text-block .who-btn .who-link .who-btn-text {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          line-height: 24px;
          padding: 16px 32px; }
          .why-choose .text-block .who-btn .who-link .who-btn-text .margin-text {
            margin-right: 12px; }
  .why-choose .img-block .who-img {
    max-width: 100%; }

/*# sourceMappingURL=style.css.map */
