@media screen and (max-width: 1439px){
  .popular-card-title{
    font-size: 19.2px;
  }
  .popular-card-descr{
    font-size: 16px;
  }
}
@media screen and (max-width: 1155px){
  .popular-title{
    font-size: 36px;
  }
  .popular-descr{
    font-size: 16px;
  }
  .popular-card-title{
    font-size: 16.8px;
  }
  .popular-card-descr{
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px){
  .popular-title{
    font-size: 32px;
  }
  .popular-descr{
    font-size: 14px;
  }
  .popular-card-descr{
    font-size: 13px;
  }
}