@media screen and (max-width: 1350px) {
  .special-font{
    font-size: 16px;
  }
}
@media screen and (max-width: 1170px) {
  .special-font{
    font-size: 12px;
  }
}
@media screen and (max-width: 645px) {
  .main-description{
    font-size: 16px;
  }
}