@media screen and (max-width: 1410px){
  .about-bigtitle {
    font-size: 40px;
  }
}
@media screen and (max-width: 1175px){
  .about-bigtitle {
    font-size: 32px;
  }
}

@media screen and (max-width: 1250px){
  .about-description {
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px){
  .about-description {
    font-size: 14px;
  }
}

@media screen and (max-width: 1437px){
  .about-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px){
  .about-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 1390px){
  .about-paragraph {
    font-size: 12px;
  }
}
@media screen and (max-width: 1190px){
  .about-paragraph {
    font-size: 10px;
  }
}
@media screen and (max-width: 1000px){
  .about-paragraph {
    font-size: 9px;
  }
}
