@media screen and (max-width: 1330px){
  .who-title{
    font-size: 43px;
    margin-top: 82px;
  }
  .who-description{
    font-size: 16px;
  }
}
@media screen and (max-width: 1210px){
  .who-title{
    font-size: 37px;
    margin-top: 72px;
  }
  .who-description{
    font-size: 14px;
  }
}
@media screen and (max-width: 1093px){
  .who-title{
    font-size: 32px;
    margin-top: 62px;
  }
  .who-description{
    font-size: 12px;
  }
}

