@media screen and (max-width: 1267px){
  .sub-title{
    font-size: 36px;
  }
}
@media screen and (max-width: 1138px){
  .sub-title{
    font-size: 32px;
  }
}
@media screen and (max-width: 1024px){
  .sub-title{
    font-size: 25px;
  }
}